.progress {
  transform: rotate(-90deg);
  margin: 0 auto;
  display: block;
}

.progress_text {
  transform: rotate(90deg);
  font-weight: 100;
}

.progress__meter,
.progress__value {
  fill: none;
}

.progress__meter {
  stroke: #e6e6e6;
}

.progress__value {
  stroke: #f77a52;
  stroke-linecap: round;
}